/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.grf {

    &__location-address {
        float: left;
        width: calc(100% - 40px);
    }

    &__remove-location-address {
        float: left;
        margin-left: 10px;
        margin-top: 1px;
        padding: 5px 5px 4px;
    }
}
